#GIT_SSH_COMMAND
git config --local core.sshCommand "ssh -i ~/.ssh/github_personal"
git config --local --type bool push.autoSetupRemote true 

# layout python3 is used to create and activate the virtual environment inside direnv.
layout python3

# If a requirements.txt file exists, install packages.
if [ -f requirements.txt ]; then
  echo "Installing requirements from requirements.txt..."
  pip install -r requirements.txt 2>&1 | grep -v "already satisfied"
fi

# (c) 2025 year
# known to be Used from Hyd-london-philly-denver-suwanee
# direnv: error .envrc is blocked. Run `direnv allow` to approve its contentc