cp .gitconfig_manu .git/config
#GIT_SSH_COMMAND
git config --local core.sshCommand "ssh -i ~/.ssh/id_ed25519_manu4linux"
git config --local --type bool push.autoSetupRemote true 

# Check if the virtual environment exists and activate it.
layout python3

# (c) 2025 year
# known to be Used from Hyd-london-philly-denver-suwanee
# direnv: error .envrc is blocked. Run `direnv allow` to approve its content